flows-NodeREDandWEGnology.json
[
    {
        "id": "a61511c7b33e90a0",
        "type": "tab",
        "label": "Atividade IoT",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "19c8eb3879dcf5d8",
        "type": "ui_slider",
        "z": "a61511c7b33e90a0",
        "name": "",
        "label": "slider",
        "tooltip": "",
        "group": "1ac732830194b16a",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": 10,
        "step": 1,
        "className": "",
        "x": 70,
        "y": 380,
        "wires": [
            [
                "d47672642f23f7e2",
                "b02ab3a1955af73a"
            ]
        ]
    },
    {
        "id": "98659da8d52e49b9",
        "type": "ui_switch",
        "z": "a61511c7b33e90a0",
        "name": "",
        "label": "switch",
        "tooltip": "",
        "group": "1ac732830194b16a",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 70,
        "y": 80,
        "wires": [
            [
                "111b309f2c10cd50",
                "e55a3d3acbd550c1"
            ]
        ]
    },
    {
        "id": "111b309f2c10cd50",
        "type": "debug",
        "z": "a61511c7b33e90a0",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 280,
        "y": 220,
        "wires": []
    },
    {
        "id": "471bd5386be5d9f9",
        "type": "mqtt out",
        "z": "a61511c7b33e90a0",
        "name": "",
        "topic": "wnology/636bdf6bcf25b8f846ce8e1d/state",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "7872b618985e57b8",
        "x": 630,
        "y": 80,
        "wires": []
    },
    {
        "id": "e55a3d3acbd550c1",
        "type": "function",
        "z": "a61511c7b33e90a0",
        "name": "function 2",
        "func": "msg.payload = {\n    \"data\": {\n        \"switch\": msg.payload\n    },\n    \"time\": Date.now()\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 140,
        "wires": [
            [
                "471bd5386be5d9f9"
            ]
        ]
    },
    {
        "id": "d47672642f23f7e2",
        "type": "function",
        "z": "a61511c7b33e90a0",
        "name": "function 3",
        "func": "msg.payload = {\n    \"data\": {\n        \"slider\": msg.payload\n    },\n    \"time\": Date.now()\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 380,
        "wires": [
            [
                "8bf65fa3a2dfb698"
            ]
        ]
    },
    {
        "id": "8bf65fa3a2dfb698",
        "type": "mqtt out",
        "z": "a61511c7b33e90a0",
        "name": "",
        "topic": "wnology/636bdf6bcf25b8f846ce8e1d/state",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "7872b618985e57b8",
        "x": 630,
        "y": 380,
        "wires": []
    },
    {
        "id": "b02ab3a1955af73a",
        "type": "debug",
        "z": "a61511c7b33e90a0",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 280,
        "y": 480,
        "wires": []
    },
    {
        "id": "1ac732830194b16a",
        "type": "ui_group",
        "name": "Default",
        "tab": "4898b1d616cde10f",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "7872b618985e57b8",
        "type": "mqtt-broker",
        "name": "broquerMQTT",
        "broker": "mqtts://broker.app.wnology.io:8883",
        "port": "1883",
        "clientid": "636bdf6bcf25b8f846ce8e1d",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "4898b1d616cde10f",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]